version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day-of-month: "1"
      time: "06:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 2
    groups:
      all-non-major:
        update-types: ["minor", "patch"]
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day-of-month: "1"
      time: "06:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 2
    groups:
      github-actions:
        patterns:
          - "*"
